<!DOCTYPE html>
<html>
  <head>
    <title>Filmster</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Amatica+SC|Overlock:400,900" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
